POCKET_CONSUMER_KEY='your-project-key'

RESOLVED_ITEM_JSON_PATH='/path/to/resolved_item.json'

OUTPUT_FAVORITE_ITEM_LIST_FILE_PATH='/path/to/output/favorite_item_list.md'
OUTPUT_FAVORITE_ITEM_ARCHIVE_DIR='/path/to/output/favorite_item_archive'

FRONT_MATTER=$(cat <<EOF
property1: xxx
property2: xxxxxx
EOF
)